.header{
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    & .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (min-width: 768px) {
    .header{
        padding: 18px 0;
        & .container{
            position: relative;
        }
        & .burger{
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
}